# Linear Regression Project Pt 1: Web Scraping

## Web Scraping

In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
bronx_url = 'https://newyork.craigslist.org/d/apartments-housing-for-rent/search/brx/apa?'

brooklyn_url = 'https://newyork.craigslist.org/d/apartments-housing-for-rent/search/brk/apa?'

queens_url = 'https://newyork.craigslist.org/d/apartments-housing-for-rent/search/que/apa?'

manhattan_url = 'https://newyork.craigslist.org/d/apartments-housing-for-rent/search/mnh/apa?'

staten_url = 'https://newyork.craigslist.org/d/apartments-housing-for-rent/search/stn/apa?'

In [3]:
import os
from selenium import webdriver
import time
#provide path to the chromedriver
chromedriver = "/Applications/chromedriver"
os.environ["webdriver.chrome.driver"] = \
    chromedriver
driver = webdriver.Chrome(chromedriver)

#using selenium to get the html of the 1st bronx results page
driver.get(bronx_url)
bronx_html = driver.page_source
time.sleep(2)
bronx_front_soup = bs(bronx_html)

import math
def url_list_maker(url_base, front_soup):
    url_list = []
    total_count = int(front_soup.find('span', {'class':'totalcount'}).text)
    total_pages = math.ceil(total_count / 120)
    for i in range(total_pages):
        counter = i * 120
        url_list.append(url_base+str('s=')+str(counter))
    return url_list

bronx_urls = url_list_maker(bronx_url, bronx_front_soup)

#counting the pages:
print(len(bronx_urls))

4

In [4]:
#using selenium to get the html of the 1st brooklyn results page
driver.get(brooklyn_url)
brooklyn_html = driver.page_source
time.sleep(2)
brooklyn_front_soup = bs(brooklyn_html)

#making a list of pages to scrape
brooklyn_urls = url_list_maker(brooklyn_url, brooklyn_front_soup)

#counting the pages:
print(len(brooklyn_urls))

25

In [5]:
#using selenium to get the html of the 1st queens results page
driver.get(queens_url)
queens_html = driver.page_source
time.sleep(2)
queens_front_soup = bs(queens_html)

#making a list of pages to scrape
queens_urls = url_list_maker(queens_url, queens_front_soup)

#counting the pages:
print(len(queens_urls))

16

In [6]:
#using selenium to get the html of the 1st Manhattan results page
driver.get(manhattan_url)
manhattan_html = driver.page_source
time.sleep(2)
manhattan_front_soup = bs(manhattan_html)

#making a list of pages to scrape
manhattan_urls = url_list_maker(manhattan_url, manhattan_front_soup)

#counting the pages:
print(len(manhattan_urls))

19

In [7]:
#using selenium to get the html of the 1st Staten Island results page
driver.get(staten_url)
staten_html = driver.page_source
time.sleep(2)
staten_front_soup = bs(staten_html)

#making a list of pages to scrape
staten_urls = url_list_maker(staten_url, staten_front_soup)

#counting the pages:
print(len(staten_urls))

1

In [8]:
#function to scrape each page of search results for the individual post 
def page_scraper(url_list):
    borough_list = []
    for url in url_list:
        driver.get(url)
        page = driver.page_source
        time.sleep(3)
        soup = bs(page)
        for item in soup.find_all('h3', class_='result-heading'):
            borough_list.append(item.find('a')['href'])
    return borough_list

In [9]:
brx_posts = page_scraper(bronx_urls)

print(len(brx_posts))

404

In [10]:
brk_posts = page_scraper(brooklyn_urls)

print(len(brk_posts))

3000

In [11]:
mnh_posts = page_scraper(manhattan_urls)

print(len(mnh_posts))

2164

In [12]:
que_posts = page_scraper(queens_urls)

print(len(que_posts))

1828

In [13]:
stn_posts = page_scraper(staten_urls)

print(len(stn_posts))

120

In [19]:
##tester--don't run this cell!
'''
driver.get('https://newyork.craigslist.org/brx/apa/d/bronx-converted-bedroom-for-rent/7401193741.html')
page = driver.page_source
time.sleep(3)
post = bs(page)

big_list = []
price = post.find('span', class_='price').text
title = post.find('span', id="titletextonly").text
location = post.find('span', {'class': 'postingtitletext'}).find('small').text
br = post.find('span', class_='shared-line-bubble').find_all('b')[0].text
ba = post.find('span', class_='shared-line-bubble').find_all('b')[1].text
try:
    sqft = post.find_all('span', class_='shared-line-bubble')[1].find_all('b')[0].text
except:
    sqft = 'n/a'
try:
    app_fee = post.find(text='application fee details: ').next.text
except:
    app_fee = 'n/a'
try:
    brok_fee = post.find(text='broker fee details: ').next.text
except:
    brok_fee = 'n/a'

if 'cats are OK - purrr'in post.text:
    cats = True
else:
    cats = 'n/a'

if 'dogs are OK - wooof'in post.text:
    dogs = True
else:
    dogs = 'n/a'

if 'no laundry on site' in post.text:
    wd = 'none'
elif 'laundry on site' in post.text:
    wd = 'on site'
elif 'laundry in bldg' in post.text:
    wd = 'in bldg'
elif 'w/d in unit' in post.text:
    wd = 'in unit'
elif 'w/d hookups' in post.text:
    wd = 'hookups'
else:
    wd = 'n/a'
    
if 'no parking' in post.text:
    parking = 'none'
elif 'off-street parking' in post.text:
    parking = 'off-street'
elif 'street parking' in post.text:
    parking = 'street'
elif ('attached garage' in post.text) or ('detached garage' in post.text):
    parking = 'garage'
elif 'valet parking' in post.text:
    parking = 'valet'
elif 'carport' in post.text:
    parking = 'carport'
else:
    parking = 'n/a'

big_list.append({'PRICE': price, 
                 'LOCATION': location,
                 'TITLE': title,
                 'BR': br, 
                 'BA': ba, 
                 'SQFT': sqft, 
                'APP_FEE': app_fee, 
                'BROK_FEE': brok_fee,
                'CATS': cats,
                'DOGS': dogs,
                'WD': wd,
                'PARKING': parking
                    })

print(big_list)
'''

[{'PRICE': '$1,700', 'LOCATION': ' (Bedford park)', 'TITLE': 'Converted 2 bedroom for rent', 'BR': '2BR', 'BA': '1Ba', 'SQFT': 'n/a', 'APP_FEE': 'n/a', 'BROK_FEE': '1 month', 'CATS': 'n/a', 'DOGS': 'n/a', 'WD': 'in bldg', 'PARKING': 'garage'}]

In [28]:
import random

def post_scraper(borough_list):
    listing_info = []
    for url in borough_list:
        driver.get(url)
        page = driver.page_source
        time.sleep(random.randint(1, 3))
        post_info = bs(page)
        #price
        try:
            price = post_info.find('span', class_='price').text
        except:
            price = 'n/a'
        #listing title
        try:
            title = post_info.find('span', id="titletextonly").text
        except:
            title = 'n/a'
        #location
        try: 
            location = post_info.find('span', {'class': 'postingtitletext'}).find('small').text
        except:
            location = 'n/a'
        #bedrooms
        try:
            br = post_info.find('span', class_='shared-line-bubble').find_all('b')[0].text
        except:
            br = 'n/a'
        #bathrooms
        try:
            ba = post_info.find('span', class_='shared-line-bubble').find_all('b')[1].text
        except:
            ba = 'n/a'
        #sq feet
        try:
            sqft = post_info.find_all('span', class_='shared-line-bubble')[1].find_all('b')[0].text
        except:
            sqft = 'n/a'
        #application fee
        try:
            app_fee = post_info.find(text='application fee details: ').next.text
        except:
            app_fee = 'n/a'
        #brokers fee
        try:
            brok_fee = post_info.find(text='broker fee details: ').next.text
        except:
            brok_fee = 'n/a'
        #cats allowed
        if 'cats are OK - purrr'in post_info.text:
            cats = True
        else:
            cats = 'n/a'
        #dogs allowed
        if 'dogs are OK - wooof'in post_info.text:
            dogs = True
        else:
            dogs = 'n/a'
        #laundry
        if 'no laundry on site' in post_info.text:
            wd = 'none'
        elif 'laundry on site' in post_info.text:
            wd = 'on site'
        elif 'laundry in bldg' in post_info.text:
            wd = 'in bldg'
        elif 'w/d in unit' in post_info.text:
            wd = 'in unit'
        elif 'w/d hookups' in post_info.text:
            wd = 'hookups'
        else:
            wd = 'n/a'
        #parking
        if 'no parking' in post_info.text:
            parking = 'none'
        elif 'off-street parking' in post_info.text:
            parking = 'off-street'
        elif 'street parking' in post_info.text:
            parking = 'street'
        elif ('attached garage' in post_info.text) or ('detached garage' in post_info.text):
            parking = 'garage'
        elif 'valet parking' in post_info.text:
            parking = 'valet'
        elif 'carport' in post_info.text:
            parking = 'carport'
        else:
            parking = 'n/a'

        listing_info.append({
                'PRICE': price,
                'TITLE': title,
                'LOCATION': location, 
                'BR': br, 
                'BA': ba, 
                'SQFT': sqft, 
                'APP_FEE': app_fee, 
                'BROK_FEE': brok_fee,
                'CATS': cats,
                'DOGS': dogs,
                'WD': wd,
                'PARKING': parking
                    })

    return listing_info

In [33]:
bronx_dict = post_scraper(brx_posts)
print(len(bronx_dict))

404

In [41]:
brooklyn_dict = post_scraper(brk_posts)
print(len(brooklyn_dict))

3000

In [39]:
manhattan_dict = post_scraper(mnh_posts)
print(len(manhattan_dict))

2164

In [36]:
queens_dict = post_scraper(que_posts)
print(len(queens_dict))

1828

In [31]:
staten_dict = post_scraper(stn_posts)
print(len(staten_dict))

120

In [34]:
import pandas as pd
bronx_df = pd.DataFrame(bronx_dict)
bronx_df.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$1,700",Converted 2 bedroom for rent,(Bedford park),2BR,1Ba,n/a,n/a,1 month,n/a,n/a,in bldg,garage
1,"$1,850",1- BDRM APT BIG / 1- DORMITORIO GRANDE,(BRONX N.Y.( CASTLE HILL AVE.)),1BR,1Ba,n/a,n/a,$1850,n/a,n/a,none,none
2,"$2,350",SEXY SPACIOUS LUXURY APT IN RIVERDALE,(BRONX),1BR,1Ba,885,n/a,1 Month,True,True,in bldg,garage
3,"$2,545",SPACIOUS LUXURY 1 Br (JR 4) APARTMENT,(RIVERDALE),1BR,1.5Ba,0880,n/a,1 Month,True,True,in bldg,valet
4,"$1,900",large 2 bedroom apartment,(bronx),2BR,1Ba,800,n/a,n/a,True,True,on site,street

In [37]:
queens_df = pd.DataFrame(queens_dict)
queens_df.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$1,900",Flushing gorgeous,(Flushing),2BR,1Ba,850,n/a,n/a,n/a,n/a,in bldg,garage
1,"$1,400",studio all included rent stabilization,(astoria),1BR,1Ba,n/a,n/a,n/a,True,n/a,none,none
2,"$1,600",Brand New Studio Apt,(Kew Gardens),1BR,1Ba,400,n/a,n/a,True,True,in bldg,street
3,"$1,400",brand new gorgeous studio!,(Jamaica),0BR,1Ba,n/a,1400x3=4200,1400,n/a,n/a,none,none
4,"$1,350",1 Bedroom,(69-08 38th Avenue Woodside NY),1BR,1Ba,n/a,n/a,n/a,n/a,n/a,in bldg,street

In [32]:
staten_df = pd.DataFrame(staten_dict)
staten_df.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$1,500",1 Bedroom Apartment for rent,"(Roselle Park, NJ)",1BR,1Ba,n/a,n/a,n/a,n/a,n/a,in bldg,off-street
1,"$2,550",$2550 3 BR / 2 BATH HEARTLAND VILLAGE,(STATEN ISLAND),3BR,2Ba,n/a,n/a,n/a,n/a,n/a,hookups,carport
2,"$1,995",NO SECURITY DEPOSIT APARTMENTS in Staten Islan...,(New Dorp Staten Island),1BR,1Ba,n/a,n/a,n/a,True,n/a,in bldg,off-street
3,"$2,400",House for rent,(staten Island),5BR,1.5Ba,1500,n/a,n/a,True,n/a,hookups,street
4,$975,studio apt for rent tottenville,(tottenville staten isl),0BR,1Ba,n/a,n/a,n/a,n/a,n/a,none,street

In [40]:
manhattan_df = pd.DataFrame(manhattan_dict)
manhattan_df.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$1,850",RAILROAD 2 BED-Prime Harlem Location,(Harlem / Morningside),2BR,1Ba,750,$20 PER ADULT,1850,True,True,none,street
1,"$1,750",1bd apt. all included rent stabilization new p...,(Upper East Side),1BR,1Ba,n/a,n/a,n/a,n/a,n/a,none,none
2,$3500.00,312 W 48th St. Large 2 bed in hells kitchen.,(Midtown West),2BR,1Ba,n/a,n/a,Broker Fee Apartment,True,True,n/a,n/a
3,$3500.00,150 E 18th 1 bedroom In Gramercy Proper. Over ...,(Union Square),1BR,1Ba,638,n/a,Broker Fee Apartment,True,True,in bldg,n/a
4,$3295.00,410 E 13th St. Gorgeous 1 bed with home office...,(East Village),1BR,0Ba,n/a,n/a,No-Fee Apartment,True,True,in unit,n/a

In [42]:
brooklyn_df = pd.DataFrame(brooklyn_dict)
brooklyn_df.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$2,750",►►STUNNING 3 BEDROOM W/ QUEEN-SIZED ROOMS IN B...,(Bushwick),3BR,1Ba,n/a,$20 Application Fee,No Broker Fee,True,True,on site,street
1,"$2,950",►►1 BEDROOM IN NEW LUXURY BLDG IN PARK SLOPE W...,(Park Slope),1BR,1Ba,n/a,$20 Application Fee,No Broker Fee,True,True,in bldg,street
2,"$2,700",✸3 bedroom washer dryer ready for move in✸,(Bedford Stuyvesant),3BR,1Ba,n/a,n/a,n/a,True,True,in bldg,street
3,"$2,500",New Gut Renovated 3 Bedroom+Laundry+Hardwood Fls,(BROOKLYN),3BR,1Ba,900,$20 PER ADULT,$2500,True,True,in bldg,street
4,"$1,999",2 FULL SIZED BEDROOMS/ 3 MINUTE WALK TO Q TRAIN,(PROSPECT LEFFERTS GARDEN),2BR,1Ba,700,$20 PER ADULT,$1999,n/a,n/a,none,street

In [38]:
#save to CSV round 1
bronx_df.to_csv('bronx_df.csv') 
staten_df.to_csv('staten_df.csv') 
queens_df.to_csv('queens_df.csv')

In [43]:
#save to CSV round 2
manhattan_df.to_csv('manhattan_df.csv') 
brooklyn_df.to_csv('brooklyn_df.csv')

In [45]:
#combining everything for now--still needs cleaned
all_boroughs = [bronx_df, staten_df, queens_df, manhattan_df, brooklyn_df]
craigslist = pd.concat(all_boroughs)

In [46]:
craigslist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7516 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PRICE     7516 non-null   object
 1   TITLE     7516 non-null   object
 2   LOCATION  7516 non-null   object
 3   BR        7516 non-null   object
 4   BA        7516 non-null   object
 5   SQFT      7516 non-null   object
 6   APP_FEE   7516 non-null   object
 7   BROK_FEE  7516 non-null   object
 8   CATS      7516 non-null   object
 9   DOGS      7516 non-null   object
 10  WD        7516 non-null   object
 11  PARKING   7516 non-null   object
dtypes: object(12)
memory usage: 763.3+ KB

In [47]:
craigslist.head()

,PRICE,TITLE,LOCATION,BR,BA,SQFT,APP_FEE,BROK_FEE,CATS,DOGS,WD,PARKING
0,"$1,700",Converted 2 bedroom for rent,(Bedford park),2BR,1Ba,n/a,n/a,1 month,n/a,n/a,in bldg,garage
1,"$1,850",1- BDRM APT BIG / 1- DORMITORIO GRANDE,(BRONX N.Y.( CASTLE HILL AVE.)),1BR,1Ba,n/a,n/a,$1850,n/a,n/a,none,none
2,"$2,350",SEXY SPACIOUS LUXURY APT IN RIVERDALE,(BRONX),1BR,1Ba,885,n/a,1 Month,True,True,in bldg,garage
3,"$2,545",SPACIOUS LUXURY 1 Br (JR 4) APARTMENT,(RIVERDALE),1BR,1.5Ba,0880,n/a,1 Month,True,True,in bldg,valet
4,"$1,900",large 2 bedroom apartment,(bronx),2BR,1Ba,800,n/a,n/a,True,True,on site,street

In [ ]:
craigslist.to_csv()